.znav { margin: 50px 0 0 0; }
.znav > li > a { border: 1px solid #fff; border-radius: 0; }
.znav > li > a:hover { border-color: #ddd; background: #fff; }
.znav > .dropdown > a { margin: 0 0 -1px; position: relative; z-index: 1010; }
.znav > .dropdown.open > a { border-color: #ddd; border-width: 1px 1px 0; }
.znav > .dropdown.open > a { background: #fff; }
.znav .dropdown > .dropdown-menu { margin: 0; border-radius: 0; min-width: 250px; }
.znav .dropdown > .dropdown-menu > li > a .shortcut { float: right; opacity: 0.5; }
.znav .dropdown > .dropdown-menu > li > a > i { display: inline-block; width: 20px;}
.znav .dropdown > .dropdown-menu > .dropdown.open > .dropdown-menu { left: 248px; top: 0;}
.znav ul li > a:hover,
.znav ul li.dropdown > a:hover { background: #a94442; color: #fff; }